* {
    box-sizing: border-box;
}

[class*="col-"] {
    max-width: 100%;
    display: block;
    float: left;
    padding: 15px;
    margin: 0px;
}

/*middle for the albums*/
@media (min-width: 500px) and (max-width: 899px) {
  .col-4 {width: 50%;}
  #top-banner {font-size:3vw;}
}

/*for bigger screens*/
@media (min-width: 900px) {
  .col-4 {width: 33.3%;}
  .col-6 {width: 50%;}
  .col-12 {width: 100%;}
  #top-banner {font-size:3vw;}
  body {font-size: 120%;}
}

body {
  margin: 0px;
  background-color: #4346DE;
  color: #ccc;
  font-family: "Source Sans Pro", sans-serif;
}

.container {
  overflow: auto;
  width: 100%;
}


#top-banner {
  background-image: url(img/worlds01.png);
  background-size: 100%;
  background-repeat: no-repeat;
  padding: 10px;
}

h1, h2, h3 {
  font-family: "Libre Baskerville", serif;
  color: black;
}

.top-header {
  margin: 5px;
}

.translucent-back {
  background-color: rgba(255, 255, 255, 0.4);
}

.snsicon {
  margin: 0.1em 0.3em;
  width: 25px;
  height: 25px;
}

.center {
  display: block;
  margin: auto;
  text-align: center;
}

p {
  font-size: 0.9em;
  margin: 0px;
  line-height: 1.5;
}

#image {
  max-width: 100%;
  height: auto;
}

#img-caption {
  font-family: "Libre Baskerville", serif;
  font-style: italic;
  margin-top: 5px;
  display: none;
}

.album-art {
  height: 100%;
  width: 100%;
}

div.blockquote {
  display: block;
  float: left;
  font-family: 'Libre Baskerville', serif;
  font-size: 4vw;
  margin: 0 0.8em 0em 1.2em;
  padding-left: 0.4em;
  border-left: 0.2em solid #ccc;
}

p.caption {
  font-family: "Libre Baskerville", serif;
  text-align: right;
  margin: 0 2.5em 1.5em 0;
  font-size: 2.6vw;
}


.footer a {
  text-decoration: none;
  padding: 2px 1px 0;
}

.footer a:link {
  color: #f4ce42;
}

.footer a:visited {
  color: #f49e42;
}

.footer a:focus {
  border-bottom: 2px solid;
  background: #D0C05A;
}

.footer a:hover {
  border-bottom: 2px solid;     
  background: #674591;
}

.footer a:active {
  background: #f4ce42;
  color: #674591;
}


.footer {
  margin-bottom: 15px;
}



